<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            .title {
                border: 1px solid;
                color: green;
            }
        </style>
    <script src="vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 mx-auto">

               <div id="app">
                    <div class="product d-flex justify-content-between alings-center">
                        <div class="product-imgage" class="width:300px; height:300px">
                            <!-- <img v-bind:src="image" v-bind:alt="altText"> -->
                            <img :src="image" :alt="altText">
                        </div>

                        <div class="product-info">
                            <h2>{{ product }}</h2>
                            <p v-if="inStock">In Stock</p>
                            <p v-else>Out of Stock</p>

                            <!-- <p v-if="inventory > 10">In Stock</p>
                            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                            <p v-else>Out of Stock</p> -->

                            <ul class="list-group">
                                <l v-for="detail in  details" class="list-group-item">
                                    >> {{ detail }}
                                </l>
                            </ul>

                            <div v-for="variant in variants">
                                <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor}}</p>
                            </div>

                            <div class="cart">
                                <p>Card({{ cart }})</p>
                            </div>

                            <button v-on:click="addToCart">(+) Add to cart</button>
                            <button v-on:click="DecreaseToCart">(-) Decrease to cart</button>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="app.js"></script>

 
</body>

</html>